/*
 * All available variables can be found here:
 * ../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */

// Colors
$brand-primary: #f05002;

$text-color: #3d3f41;


// Typography
$font-family-sans-serif: "Roboto", sans-serif;


// Navbar
$navbar-height: 60px;

$border-radius-base: 1px;
