.navbar-default {
  background-color: $body-bg;
  padding: 9px;
  
  .navbar-nav {
    li {
      a {
        color: $text-color;
        &:hover {
          color: darken($text-color, 10%);
        }
      }
    }
  }
  margin-bottom: 20px;
}

.navbar-brand {
  padding: 0;
  img {
    max-height: 100%;
    display: inline-block;
  }
  span {
    display: inline-block;
    margin-top: 0;
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid #e5e5e5;
    font-size: 15px;
  }
}